# VS Code settings
.vscode
scripts/.vscode
# Chave criptografada para acesso aos boletins
scripts/01.Briefings/secret.key
scripts/01.Briefings/security.py

# Logs das busca de dados por apontamento
scripts/09.Busca_dados_apontamentos/log

# pycache
data/__pycache__
graph/__pycache__
graph/tools/__pycache__
graph/custom/__pycache__
math/__pycache__
scripts/01.Briefings/__pycache__
scripts/01.Briefings/PPROG/db/__pycache__
scripts/01.Briefings/PPROG/plot/__pycache__
scripts/05.Demandas_diferenciadas/__pycache__
scripts/09.Busca_dados_apontamentos/db/__pycache__
scripts/09.Busca_dados_apontamentos/geo/__pycache__
scripts/09.Busca_dados_apontamentos/table/__pycache__
scripts/settings/__pycache__
settings/__pycache__
scripts/01.Briefings/REDIA/cor/__pycache__
scripts/01.Briefings/REDIA/mplot/__pycache__
scripts/01.Briefings/REDIA/sst/__pycache__
scripts/03.Caracterizacao/01.HMS/__pycache__
# Ambientes virtuais
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
